* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: .5px rgba(255, 0, 0, 0.304) solid; */
}
.customGrey {
  color: #adb5bd;
}

header {
  border: solid 1px #adb5bd82;
  margin-bottom: 5rem;
}
.logo {
  min-width: 5rem;
  max-width: 10rem;
  width: 10vw;
  border-radius: 12px;
  transition: all 1s;
}
.logo:hover {
  background-color: #adb5bd1b;
  box-shadow: #adb5bd53 1px 1px 15px;
  transition: all 1s;
}
.back,
.next {
  width: 5vw;
  height: 3vh;
  background-size: cover;
  transition: cubic-bezier(12 12 12);
}
.back {
  background: url("../assets/caret-left.svg");
  background-repeat: no-repeat;
}
.back:hover {
  background: url("../assets/caret-left-fill.svg");
  background-repeat: no-repeat;
  transition: all 1s;
}
.next {
  background: url("../assets/caret-right.svg");
  background-repeat: no-repeat;
  background-position: right;
}
.next:hover {
  background: url("../assets/caret-right-fill.svg");
  background-position: right;
  background-repeat: no-repeat;
  transition: all 1s;
}
.navbar-nav li .active {
  background-color: #adb5bd;
  border-radius: 7px;
  padding: 0.3rem;
}
.navbar-nav li a {
  border: 1px solid #adb5bd0e;
  border-radius: 12px;
  padding: 0.5rem;
  box-shadow: #adb5bd0f 1px 1px 15px;
  transition: background-color 1s;
  transition: box-shadow 1s;
}
.navbar-nav li a:hover {
  background-color: #85929e90;
  box-shadow: #adb5bd53 1px 1px 15px;
  transition: all 1s;
}

/* form de filtro y búsqueda */
body > aside {
  height: 1rem !important;
}

/* Seción home */

main {
  margin: 5rem 0;
}

.card {
  min-width: 18rem;
  width: 22%;
  min-height: 25rem;
  height: 45vh;
  background-color: #0603da95;
}
.card-img {
  background-color: rgb(167, 120, 215);
  padding: 0.1rem;
  width: 90%;
  max-width: 28rem;
  height: 40%;
  min-height: 10rem;
  max-height: 15rem;
  align-self: center;
  box-shadow: black 1px 1px 5px;
}

footer {
  position: fixed;
  bottom: 0;
}

/* Sección upcoming */

/* Sección stats */

.statsTableContainer {
  border: solid black 1px;
  border-radius: 10px;
  padding: 1rem;
}

.statsCaption {
  background-color: #adb5bd;
  padding: 0.8rem 0.8rem;
}

/* Sección Contact */
.contact {
  max-width: 50rem;
}
.contact div #submit {
  margin: 5px;
  width: 10vw;
  min-width: 10rem;
  align-self: flex-end;
}

/* Sección Details */
.detailsContainer {
  box-shadow: #adb5bd64 1px 1px 15px;
}
.detailsContainer ul {
  list-style-type: none;
}
.detailsImg img {
  max-width: 25rem;
  width: 75vw;
  height: max-content;
}
.detailsSubContainer {
  border: #adb5bd64 solid 1px;
  border-radius: 15px;
  margin: 2rem 1rem;
  padding: 2rem 1rem;
}
.listContainer {
  display: flex;
  gap: 2rem;
  border-bottom: #adb5bd 1px solid;
}
h1 {
  min-width: 15rem;
}
.titleContainer {
  width: 70vw;
}

@media screen and (max-width: 765px) {
  h1 {
    transform: scale(0.5);
  }

  header {
    margin-bottom: 15rem;
  }
  .statsTableContainer caption,
  .statsTableContainer th,
  .statsTableContainer td {
    font-size: small;
  }
  .listContainer {
    display: flex;
    flex-direction: column;
    gap: 0;
    border-bottom: none;
    border-top: #adb5bd 1px solid;
  }
  #categoryForm {
    transform: scale(0.8);
    font-size: small;
  }
  .titleContainer {
    width: auto;
  }
}
@media screen and (max-width: 470px) {
  aside {
    margin-bottom: 10rem;
  }
}
