* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: .5px rgba(255, 0, 0, 0.304) solid; */
}
body {
  overflow-x: hidden;
  /* background: url("../assets/logo_Amazing_Events.png");
  background-blend-mode: soft-light;
   */
  background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
}

.customGrey {
  color: #adb5bd;
}

header {
  width: 100vw;
  border: solid 1px #adb5bd82;
  margin-bottom: 5rem;
}
.logo {
  min-width: 5rem;
  max-width: 10rem;
  width: 10vw;
  border-radius: 12px;
  transition: all 1s;
}
.logo:hover {
  background-color: #adb5bd1b;
  box-shadow: #adb5bd53 1px 1px 15px;
  transition: all 1s;
}
.back,
.next {
  width: 5vw;
  height: 3vh;
  min-width: 1.3rem;
  min-height: 1.3rem;
  background-size: cover;
  transition: cubic-bezier(12 12 12);
}
.back {
  background: url("../assets/caret-left.svg");
  background-repeat: no-repeat;
}
.back:hover {
  background: url("../assets/caret-left-fill.svg");
  background-repeat: no-repeat;
  transition: all 1s;
}
.next {
  background: url("../assets/caret-right.svg");
  background-repeat: no-repeat;
  background-position: right;
}
.next:hover {
  background: url("../assets/caret-right-fill.svg");
  background-position: right;
  background-repeat: no-repeat;
  transition: all 1s;
}
.navbar-nav li .active {
  background-color: #adb5bd;
  border-radius: 7px;
  padding: 0.3rem;
}
.navbar-nav li a {
  border: 1px solid #adb5bd0e;
  border-radius: 12px;
  padding: 0.5rem;
  box-shadow: #adb5bd0f 1px 1px 15px;
  transition: background-color 1s;
  transition: box-shadow 1s;
}
.navbar-nav li a:hover {
  background-color: #85929e90;
  box-shadow: #adb5bd53 1px 1px 15px;
  transition: all 1s;
}

/* form de filtro y búsqueda */
body > aside {
  width: 90vw !important;
  background-color: rgba(248, 248, 254, 0.973);
  border-radius: 10px;
  padding: 1rem;
  transition: box-shadow 0.7s;
}
body > aside::before {
  content: "Aún sin implementar lógica";
  color: red;
}
body > aside::after {
  content: "";
  color: red;
}

.form-check-input {
  min-width: 1rem;
}
aside form label p {
  padding: 0;
  width: max-content;
}

/* Seción home */

main {
  margin: 1rem 0 5rem 0;
}

.card {
  min-width: 18rem;
  width: 22%;
  min-height: 28rem;
  height: 45vh;
  padding: 0.3rem;
  transition: box-shadow 0.7s;
  border-radius: 30px;
  background-color: rgb(204, 204, 226);
  /* box-shadow: 15px 15px 30px rgb(25, 25, 25), -15px -15px 30px rgb(60, 60, 60); */
}
.card:hover,
body > aside:hover,
.form-control:hover {
  transition: box-shadow 0.7s;
  box-shadow: 5px 5px 40px rgba(237, 236, 255, 0.594),
    -5px -5px 40px rgba(255, 255, 255, 0.454);
  /* -webkit-backdrop-filter: blur(50px);
  backdrop-filter: blur(50px); */
}

.card-img img,
.card-img {
  background-color: rgb(66, 47, 84);
  width: 100%;
  max-width: 28rem;
  height: 40%;
  min-height: 10rem;
  max-height: 15rem;
  align-self: center;
  box-shadow: black 1px 1px 5px;
  transition: background-color 2s;
}

footer {
  position: fixed;
  bottom: 0;
}

/* Sección upcoming */
.upcomingH1 {
  width: max-content;
}
/* Sección Past */

/* Sección stats */

.statsTableContainer {
  border: solid black 1px;
  border-radius: 10px;
  padding: 1rem;
  transition: box-shadow 0.7s;
}
.statsTableContainer:hover {
  transition: box-shadow 0.5s;
  box-shadow: 5px 5px 23px rgba(237, 236, 255, 0.289),
    -5px -5px 25px rgba(255, 255, 255, 0.392);
  -webkit-backdrop-filter: blur(50px);
  backdrop-filter: blur(50px);
}

.statsCaption {
  background-color: #adb5bd;
  padding: 0.8rem 0.8rem;
}

/* Sección Contact */
.contact {
  max-width: 50rem;
}
.contact div #submit {
  margin: 5px;
  width: 10vw;
  min-width: 10rem;
  align-self: flex-end;
}
.form-control {
  transition: box-shadow 0.7s;
}
.form-control:hover {
  transition: box-shadow 0.7s;
  box-shadow: 1px 1px 18px rgba(237, 236, 255, 0.394),
    -3px -3px 20px rgba(255, 255, 255, 0.254);
  -webkit-backdrop-filter: blur(50px);
  backdrop-filter: blur(50px);
}

/* Sección Details */
.detailsContainer {
  box-shadow: #adb5bd64 1px 1px 15px;
  transition: box-shadow 0.7s;
  background-color: rgb(204, 204, 226);
}
.detailsContainer:hover {
  transition: box-shadow 0.7s;
  box-shadow: 1px 1px 38px rgba(237, 236, 255, 0.394),
    -3px -3px 28px rgba(255, 255, 255, 0.254);
  -webkit-backdrop-filter: blur(50px);
  backdrop-filter: blur(50px);
}

.detailsContainer ul {
  list-style-type: none;
}
.detailsImg {
  overflow: hidden;
  transition: all 1s ease-in-out;
}
.detailsImg img {
  border-radius: 22px;
  width: 100%;
  height: 100%;
  transition: all 1s ease-in-out;
  object-fit: cover;
}
.detailsSubContainer {
  border: #adb5bd64 solid 1px;
  border-radius: 15px;
  margin: 2rem 1rem;
  padding: 2rem 1rem;
}
.listContainer {
  display: flex;
  gap: 0.3rem;
  border-bottom: #adb5bd 1px solid;
}
h1 {
  min-width: 15rem;
}
.titleContainer {
  width: 100vw;
  padding: 0 5rem;
}

@media screen and (max-width: 765px) {
  h1 {
    transform: scale(0.5);
  }

  header {
    margin-bottom: 9rem;
  }
  .navbar-toggler {
    transform: scale(0.8);
  }
  .statsTableContainer caption,
  .statsTableContainer th,
  .statsTableContainer td {
    font-size: small;
  }
  .listContainer {
    display: flex;
    flex-direction: column;
    gap: 0;
    border-bottom: none;
    border-top: #adb5bd 1px solid;
  }
  .categoryForm {
    transform: scale(0.9);
    font-size: small;
  }
  .titleContainer {
    display: block;
    width: auto;
  }
  main {
    margin-top: 10vh;
  }
  /* aside {
    margin-bottom: 10rem;
  } */
  body > aside::before {
    content: "";
    color: red;
  }
  body > aside::after {
    content: "Aún sin implementar lógica";
    color: red;
  }
}

@media screen and (min-width: 1000px) {
  .detailsContainer {
    min-height: max-content;
  }
  .detailsSubContainer {
    height: 65vh;
    min-height: 479px;
  }
  .detailsImg {
    min-height: 479px;
  }
  .detailsImg img {
    height: 65vh;
    width: 25vw;
    min-height: 479px;
    opacity: 0.7;
    object-fit: cover;
  }
  .detailsImg img:hover {
    width: 100%;
    opacity: 1;
  }

  .detailsImg,
  .detailsImg img,
  .detailsImg img:hover {
    transition: all 1s ease-in-out;
  }
}
