*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.customGrey{
    color:#adb5bd;
}

header{
    border: solid 1px #adb5bd82 ;
    margin-bottom: 5rem;
}
.logo{
    min-width: 3rem;
    max-width:10rem;
    width: 10vw;
}
.back, .next{
    width: 5vw;
    
    height: 3vh;
    background-size:cover;
    background-repeat: no-repeat;
}
.back{
    background: url("../assets/caret-left.svg");
    background-repeat: no-repeat;
}
.back:hover{
    background: url("../assets/caret-left-fill.svg");
    background-repeat: no-repeat;
}
.next{
    background: url("../assets/caret-right.svg");
    background-repeat: no-repeat;
}
.next:hover{
    background: url("../assets/caret-right-fill.svg");
    background-repeat: no-repeat;
}
.offcanvas-body .navbar-nav li .active{
background-color: #adb5bd;
border-radius: 7px;
padding: .3rem;
}

/* form de filtro y búsqueda */
body>aside{
height: 1rem !important;
}

/* Seción main */

.card{
    min-width: 20rem;
    width: 35vw;
    height: 40vh;
}
.card-img{
    width: 90%;
    align-self: center;
    box-shadow: black 1px 1px 5px;
}

footer{
    position: fixed;
    bottom: 0;
}



@media screen and (max-width:768px) {
    .navbar-toggler{
        transform: scale(.8);
    }
    h1{
        transform: scale(.7);
    }
    header{
        margin-bottom: 6rem;
    }
}